body{
    background-color: #071952;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    position: relative;
    height: 250px;
    margin: 10px auto 0; 
}   
header section {
    position: absolute;
    background: transparent;
    border: none;
}
header section.left {
    top: 20%;
    left: 0;
    width: 30%;

}
header .my-photo{
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(2,0,108,1) 100%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
}
header .my-photo:hover{
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(2,0,108,1) 100%);

}
header .my-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
header section.right {
    width: 70%;
    top: 20%;
    right: 0;
}
header section.right h1{
    font-size: 60px;
    margin-bottom: 0;
}
header section.right  p{
    margin-left: 80px;
}
.main-section{
    height: 200px; 
    background: #35a29f24; 
    border-radius: 10px;
    padding: 5px 10px;
    margin: 100px 0; 
    /* box-shadow: 5px 5px 0px 5px rgba(0,0,0,0.75), -5px -5px 0px 5px rgba(0,0,0,0.75); */
}
.main-section[class*="motivational-video"]{
    height: fit-content;
}
section .title{
    background-color: #088395;
    width: fit-content;
    padding: 10px 15px; 

}
.about-me p {
    margin-bottom: 5px;
}
.education p::before{
    content: '🎓';
}

footer{ 
    padding: 20px 0;
}
footer span{
   border-bottom:2px solid #35a29f;
   padding: 10px 5px;
   margin-right: 5px;
}
footer span a{
    color: white;

}
footer span:hover{
    background: #288380;
}  
