@font-face {
    font-family: "Fox Grotesque";
    src: url("./assets/fonts/FoxGrotesque/FoxGrotesquePro-Regular.ttf");
}

 .list-item .active{
  color: white;
 }
.ff-grotesque{
  font-family: "Fox Grotesque";
} 
.fw-thin{
  font-weight: 300;
}
body {   
  margin: 0 auto;
  box-sizing: border-box;
  font-family: sans-serif;
}
.section-title{
  font-size: 5rem;
  text-align: center;
  border:2px dashed black;
  padding-block: 1rem;
  font-weight: bold;
}
.higlight-text{
  background:  #4bcbad ;
}
.h-100dvh {
  min-height: 100dvh;
} 
.greeting{
    font-size: 2.5rem;
}
.name{
    font-size: 4.5rem;

}
.name span{
    font-family: "Fox Grotesque";
}
 nav{
  background: rgb(75, 203, 173);
  padding-inline: 4rem;
  padding-top: 10px;
  
}

nav a{
  color: black;
}
 